.layers_widget_2-container
{
    display: flex;
    overflow: hidden;
}
.layers_widget_2-container-left
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 600px;
    width: 50%;
    transform: translateX(-100%);
}

.layers_widget_2-container-left-make-visible 
{
    transform: translateX(0%);
    animation: layers_widget_2-container-left-anim 1.5s ease;
    animation-fill-mode: forwards;
}
@keyframes layers_widget_2-container-left-anim {
from{
    transform: translateX(-100%);
    opacity: 0;
}
to{
    transform: translateX(0%);
    opacity: 1;
}    
}
/* .layers_widget_2-container-right-make-visible 
{
    transform: translateX(-100%);
    transition: all 0.5s ease;
} */

.layers_widget_2-container-left:hover .layers_widget_2-container-left-img1
{
    transform: translateX(20px);
    transition: all 0.5s ease;
}
.layers_widget_2-container-left:hover .layers_widget_2-container-left-img2
{
    transform: translateY(-20px);
    transition: all 0.5s ease;
}


.layers_widget_2-container-left-img1
{
    height: 80%;
    width: 60%;
    object-fit: contain;
    position: absolute;
    left:40px;
    top:40px;
}
.layers_widget_2-container-left-img2
{
    height: 50%;
    width: 60%;
    object-fit: contain;
    position: absolute;
    right:0;
    bottom:0;
}

.layers_widget_2-container-right
{
    padding: 30px 50px;
    width: 50%;
    transform: translateX(100%);
}
.layers_widget_2-container-right-make-visible 
{
    transform: translateX(0%);
    animation: layers_widget_2-container-right-anim 1.5s ease;
    animation-fill-mode: forwards;
}
@keyframes layers_widget_2-container-right-anim {
from{
    transform: translateX(100%);
    opacity: 0;
}
to{
    transform: translateX(0%);
    opacity: 1;
}    
}
.layers_widget_2-container-right-title
{
    font-size: 3rem;
    font-weight: bold;
}
.layers_widget_2-container-right-content
{
    font-size: 1.7rem;
    width: 80%;
    padding: 30px 0px;
}
