.layers_widget_9-container
{
    display: flex;
    background-size: cover;
    background-position: center;
}
.layers_widget_9-container-left
{
    width: 50%;
    padding: 30px;
}
.layers_widget_9-container-left-heading
{
}
.layers_widget_9-container-left-heading-head
{
    color: gray;
    font-size: 1.2rem;
}
.layers_widget_9-container-left-heading-main
{
    font-size: 2rem;
    padding: 20px 0px;
}
.layers_widget_9-container-left-desc
{
    padding: 20px;
    font-size: 1.3rem;
}
.layers_widget_9-container-left-facilities
{
}
.layers_widget_9-container-left-facilities-header
{
    padding: 20px 10px;
    font-weight: 600;
    font-size: 1.4rem;
}
.layers_widget_9-container-left-facilities-header span 
{
    border-bottom: 1px solid red;
}
.layers_widget_9-container-left-facilities-items
{
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
}
.layers_widget_9-container-left-facilities-item-el
{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    width: 33.33%;
}
.layers_widget_9-container-left-facilities-item-el img 
{
    height: 20px;
    object-fit: contain;
    margin: 0px 10px;
}

.layers_widget_9-container-right
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.layers_widget_9-container-right-img
{
    width: 80%;
    height: 80%;
}
.layers_widget_9-container-right-img img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.layers_widget_9-container-right-absolute
{
    position: absolute;
    bottom: 10px;
    left:0;
    height: 50%;
    width: 40%;
}
.layers_widget_9-container-right-absolute img 
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Mobile */
@media only screen and (max-width: 800px){
.layers_widget_9-container
{
    flex-direction: column;
}
.layers_widget_9-container-left
{
    width: 100%;
}
.layers_widget_9-container-right 
{
    display: none;
}
}

@media only screen and (max-width: 450px){
.layers_widget_9-container-left
{
    padding: 20px;
}
.layers_widget_9-container-left-desc
{
    font-size: 1.2rem;
}
}
